<section class="products-list">
    <!-- Heading Starts -->
    <h2 class="product-head">Provide Delivery Address</h2>
</section>
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-smart">
            <div class="panel-body">
                <form class="form-horizontal" role="form" #deliveryForm="ngForm" method="POST" (ngSubmit)="searchLocation(address)" novalidate>
                    <div class="form-group">
                        <label for="deliveryTime" class="col-sm-2 control-label">
                            <span>* </span> Delivery Time:
                        </label>
                        <div class="col-sm-3">
                            <input class="picker-input form-control" [ngModel]="moment | date: 'hh:mm a'" [(dateTimePicker)]="moment" [pickerType]="'time'"
                                readonly id="deliveryTime" name="deliveryTime" [minMoment]="minMoment" [maxMoment]="maxMoment"
                                required>
                        </div>
                        <div class="col-sm-7">
                            <em *ngIf=" deliveryForm.controls.deliveryTime?.invalid && (deliveryForm.controls.deliveryTime.touched || mouseoverLogin)">Required</em>

                        </div>
                    </div>
                    <div class="form-group">
                        <label for="street" class="col-sm-2 control-label">
                           <span>* </span> Street Address:
                        </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="street" id="street" placeholder="Street Address" [(ngModel)]="address.Street"
                                required>
                        </div>
                        <div class="col-sm-1">
                            <em *ngIf="deliveryForm.controls.street?.invalid  && (deliveryForm.controls.street.touched || mouseoverLogin)">Required</em>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="appartment" class="col-sm-2 control-label">
                            Suite/Apt #
                        </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="appartment" id="appartment" placeholder="Suite/Appartment" [(ngModel)]="address.Appartment">
                        </div>
                        <div class="col-sm-1">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="city" class="col-sm-2 control-label">
                            <span>* </span> City:
                        </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="city" id="city" placeholder="City" [(ngModel)]="address.City" required>
                        </div>
                        <div class="col-sm-1">
                            <em *ngIf="deliveryForm.controls.city?.invalid && (deliveryForm.controls.city?.touched || mouseoverLogin)">Required</em>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="message" class="col-sm-2 control-label">
                            <span>* </span> State:
                        </label>
                        <div class="col-sm-4">
                            <select name="state" id="state" class="form-control" [(ngModel)]="address.StateId" required></select>
                        </div>
                        <div class="col-sm-1">
                            <em *ngIf="deliveryForm.controls.state?.invalid && (deliveryForm.controls.state?.touched || mouseoverLogin)">Required</em>
                        </div>
                        <label for="message" class="col-sm-2 control-label">
                            <span>* </span> Zip Code:
                        </label>
                        <div class="col-sm-2">
                            <input type="text" name="zip" id="zip" class="form-control" placeholder="Zip Code" [(ngModel)]="address.Zip" required>
                        </div>
                        <div class="col-sm-1">
                            <em *ngIf="deliveryForm.controls.zip?.invalid && (deliveryForm.controls.zip?.touched || mouseoverLogin)">Required</em>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <span (mouseenter)="mouseoverLogin=true" (mouseleave)="mouseoverLogin=false">
                                <button type="submit" class="btn btn-danger text-uppercase" [disabled]="deliveryForm.invalid">Go Next</button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>