<!-- Slider Section Starts -->
<div class="slider">
    <carousel>
        <slide>
            <img src="/app/common/images/slider/slider1.jpg" alt="First slide" style="width: 1070px;height:350px">
        </slide>
        <slide>
            <img src="/app/common/images/slider/slider2.jpg" alt="Second slide" style="width: 1070px;height:350px">
        </slide>
    </carousel>
</div>
<!-- Slider Section Ends -->
<section class="start-order">
    <div class="col-xs-3 order-head">Start Your Order</div>
    <div class="button-group">
        <button type="button" class="btn btn-cart" (click)="goToMenu(order_Type.Delivery)">
            <i class="fa fa-truck"></i>
            Delivery
        </button>
        <span>or</span>
        <button type="button" class="btn btn-cart" (click)="goToMenu(order_Type.Pickup)">
            <i class="fa fa-shopping-cart"></i>
            Pickup
        </button>
    </div>
</section>

<!-- Latest Products Starts -->
<section class="product-carousel">
    <!-- Heading Starts -->
    <h2 class="product-head">Speciality Pizzas</h2>
    <!-- Products Row Starts -->

    <!-- Product Grid Display Starts -->
    <div class="row">
        <!-- Product #1 Starts -->
        <div class="col-md-3 col-sm-6">
            <div class="product-col">
                <div class="image">
                    <img src="/app/common/images/banners/pizza3.jpg" alt="product" class="img-responsive" style="width:243px;height:137px" />
                </div>
                <div class="caption">
                    <h4><a href="#">Cheese Special</a></h4>
                    <div class="description">
                        We are so lucky living in such a wonderful time. Our almost unlimited ...
                    </div>
                    <div class="cart-button button-group">
                        <button type="button" onclick="redirectToMenu()" class="btn btn-cart">
                            <i class="fa fa-shopping-cart"></i>Order Now
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Product #1 Ends -->
        <!-- Product #2 Starts -->
        <div class="col-md-3 col-sm-6">
            <div class="product-col">
                <div class="image">
                    <img src="/app/common/images/banners/pizza4.jpg" alt="product" class="img-responsive" style="width:243px;height:137px" />                    
                </div>
                <div class="caption">
                    <h4><a href="product.html">Paneer Special</a></h4>
                    <div class="description">
                        We are so lucky living in such a wonderful time. Our almost unlimited ...
                    </div>
                    <div class="cart-button button-group">
                        <button type="button" onclick="redirectToMenu()" class="btn btn-cart">
                                <i class="fa fa-shopping-cart"></i>Order Now
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Product #2 Ends -->
        <!-- Product #3 Starts -->
        <div class="col-md-3 col-sm-6">
            <div class="product-col">
                <div class="image">
                    <img src="/app/common/images/banners/pizza5.jpg" alt="product" class="img-responsive" style="width:243px;height:137px" />
                </div>
                <div class="caption">
                    <h4><a href="product.html">Grocery Items</a></h4>
                    <div class="description">
                        We are so lucky living in such a wonderful time. Our almost unlimited ...
                    </div>
                    <div class="cart-button button-group">
                        <button type="button" onclick="redirectToMenu()" class="btn btn-cart">
                                <i class="fa fa-shopping-cart"></i>Order Now
                            </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Product #3 Ends -->
        <!-- Product #4 Starts -->
        <div class="col-md-3 col-sm-6">
            <div class="product-col">
                <div class="image">
                    <img src="/app/common/images/banners/pizza6.jpg" alt="product" class="img-responsive" style="width:243px;height:137px" />
                </div>
                <div class="caption">
                    <h4><a href="product.html">All Meat Special</a></h4>
                    <div class="description">
                        We are so lucky living in such a wonderful time. Our almost unlimited ...
                    </div>
                    <div class="cart-button button-group">
                        <button type="button" onclick="redirectToMenu()" class="btn btn-cart">
                                <i class="fa fa-shopping-cart"></i>Order Now
                            </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Product #4 Ends -->
       
    </div>
    <!-- Product Grid Display Ends -->
    <!-- Products Row Ends -->
</section>
<!-- Latest Products Ends -->

<!-- 3 Column Banners Starts -->
<div class="col3-banners">
    <ul class="row list-unstyled">
        <li class="col-sm-4">
            <img src="/app/common/images/banners/banner1.jpg" alt="banners" class="img-responsive" style="width:281px;height:179px" />
        </li>
        <li class="col-sm-4">
            <img src="/app/common/images/banners/banner2.jpg" alt="banners" class="img-responsive" style="width:281px;height:179px" />
        </li>
        <li class="col-sm-4">
            <img src="/app/common/images/banners/banner3.jpg" alt="banners" class="img-responsive" style="width:281px;height:179px" />
        </li>
    </ul>
</div>
<!-- 3 Column Banners Ends -->