<h3 class="side-heading">
    Order Summary
    <span id="divClearCart" class="desc pull-right pointer" *ngIf="(cartDetails && cartDetails.totalQty)" (click)="clearCart()"
        title="Clear All Items">
        <i class="fa fa-trash"></i>
    </span>
</h3>
<div class="list-group">
    <div class="list-group-item">
        <div class="order-summary">
            <div class="caption" *ngIf="(cartDetails && cartDetails.totalQty)">
                <div class="line-item " *ngFor="let item of globals.generateArray(cartDetails)">
                    <div class="desc pull-left col-md-9 col-sm-9" *ngIf="item">
                        <i class="fa fa-times-circle pointer" aria-hidden="true" (click)="removeItem(item.item.MenuItemId)" title="Remove Item"></i>
                        <i class="fa fa-minus-circle pointer" aria-hidden="true" (click)="reduceByOne(item.item.MenuItemId)" title="Reduce by 1"
                            *ngIf="item.qty > 1"></i> {{item.qty}} X {{item.item.ItemTitle}}, {{item.item.Size}}{{item.item.MetricType
                        == "Inches" ? "\"" : ""}} {{item.item.Description}}
                        <i *ngIf="item.item.NumberOfToppings > 0" class="fa fa-pencil-square pointer" aria-hidden="true" title="Extra Toppings" (click)="getToppings(item.item, toppingModal);"></i>
                    </div>
                    <div class="col-md-1 col-sm-1"></div>
                    <div class="amount pull-left col-md-2 col-sm-2" *ngIf="item">
                        {{item.price | currency: 'USD': true}}
                    </div>
                </div>
                <!--Kept as sample data
                    <div class="line-item">
                    <div class="desc pull-left">1 X Cheesy Cheese Pizza, 10" Small</div>
                    <div class="amount pull-left">$12.00</div>
                </div>-->
                <div class="line-item">
                    <div class="desc pull-left divider"></div>
                    <div class="amount pull-left"></div>
                </div>
                <div class="sub-total line-item">
                    <div class="desc pull-left">Sub Total</div>
                    <div class="amount pull-right">
                        {{cartDetails?.totalPrice | currency: 'USD': true}}
                    </div>
                    <!--Get total sum of order-->
                </div>
                <div class="delivery line-item">
                    <div class="desc pull-left">Delivery Fee</div>
                    <div class="amount pull-right">{{ deliveryFee | currency:'USD': true }}</div>
                    <!--Calculate as per distance-->
                </div>
                <div class="tax line-item">
                    <div class="desc pull-left">GST ({{globals.getGSTAmount()}}%)</div>
                    <div class="amount pull-right">
                        {{ globals.getGSTCalculation(cartDetails) | currency:'USD': true }}
                    </div>
                    <!--5% of total sum-->
                </div>
                <div class="totalAmount line-item">
                    <div class="desc pull-left">Total</div>
                    <div class="amount pull-right">
                        {{ globals.getTotalAmount(cartDetails, deliveryFee) | currency:'USD': true }}
                    </div>
                    <!--Get total sum of order including Delivery Fee, GST-->
                </div>
                <div class="discount line-item"  *ngIf="discount_Percent > 0">
                    <div class="desc pull-left">Discount({{discount_Percent}}%)</div>
                    <div class="amount pull-right">
                        {{ globals.getDiscountedAmount(globals.getTotalAmount(cartDetails, deliveryFee)) | currency:'USD': true }}
                    </div>
                    <!--Get disocunted amount-->
                </div>
                <div class="total line-item"  *ngIf="discount_Percent > 0">
                    <div class="desc pull-left last">Net Payable</div>
                    <div class="amount pull-right">
                        {{ globals.getNetPayable(globals.getTotalAmount(cartDetails, deliveryFee)) | currency:'USD': true }}
                    </div>
                    <!--Get Net payable after all calculations-->
                </div>
                <!-- <div class="form-group">
                    <div class="col-sm-6">
                        <div class="btn-group btn-group-vertical" data-toggle="buttons">
                            <label class="btn active">
                                <input type="radio" name='radOrderType' [(ngModel)]="deliveryAdd.PaymentMode" value="1">
                                <i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i>
                                <span>  Pay Now</span>
                            </label>
                            <label class="btn active" *ngIf="(order_Type == order_Types.Delivery);else deliveryPanel">
                                <input type="radio" [(ngModel)]="deliveryAdd.PaymentMode" name="radOrderType" value="2" >
                                <i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i>
                                <span> Pay In Store</span>
                            </label>
                            <ng-template #deliveryPanel>
                                <label class="btn active">
                                    <input type="radio" [(ngModel)]="deliveryAdd.PaymentMode" name="radOrderType" value="3" >
                                    <i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i>
                                    <span> Cash on Delivery</span>
                                </label>
                            </ng-template>
                        </div>
                    </div>
                </div> -->
                <div class="cart-button button-group">
                    <button type="button" class="btn btn-cart" (click)="checkout()" [disabled]="!(cartDetails?.totalQty) || (globals.getNetPayable(globals.getTotalAmount(cartDetails, deliveryFee)) < min_Order)"
                        [title]="(globals.getNetPayable(globals.getTotalAmount(cartDetails, deliveryFee)) < min_Order) ? 'Minimum order should be $15' : 'Checkout'">
                        Checkout <i class="fa fa-shopping-cart"></i>
                    </button>
                </div>
            </div>
            <div class="caption" *ngIf="!(cartDetails && cartDetails.totalQty)">
                <div class="line-item">
                    <div class="cart-button button-group">
                        No item selected
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<modal #toppingModal>
    <modal-header>
        <h4>{{itemName}}</h4>
    </modal-header>
    <modal-content>
        <!-- This modal shows Toppings for item {{itemId}}. -->
        <!-- Iterate through items here -->
        <div class="col-md-12 col-sm-12" *ngFor="let item of toppingItems">
            <div class="description" title="item.Description">
                {{item.ItemDescription.length > 30 ? item.ItemDescription.substr(0,30) + '...': item.ItemDescription}}
            </div>
            <div class="price">
                <div class="desc pull-left">
                    {{item.Size}}{{item.MetricType == "Inches" ? "\"" : ""}} {{item.Description}}
                </div>
                <div class="amount pull-left">{{item.ItemPrice | currency:'USD':true}}</div>
                <button class="pull-right btn btn-add" (click)="addTopping(item)"><i class="fa fa-plus"></i></button>
            </div>
        </div>
    </modal-content>
    <modal-footer>
        <button class="btn btn-primary" (click)="closeToppings(toppingModal)">I'm done!</button>
    </modal-footer>
</modal>