<section class="products-list">
    <!-- Heading Starts -->
    <h2 class="product-head">Checkout</h2>
</section>
<h3 class="side-heading">
    Order Summary
</h3>
<div class="list-group">
    <div class="list-group-item">
        <div class="order-summary">
            <div class="caption" *ngIf="(cartDetails && cartDetails.totalQty)">
                <div class="line-item row" *ngFor="let item of globals.generateArray(cartDetails)">
                    <div class="desc pull-left col-md-3 col-sm-3">
                        {{item.item.Size}}{{item.item.MetricType == "Inches" ? "\"" : ""}} {{item.item.Description}} {{item.item.ItemTitle}}
                    </div>
                    <div class="col-md-1 col-sm-1">
                        {{ item.qty }}
                    </div>
                    <div class="col-md-1 col-sm-1">
                        {{item.price/item.qty | currency: 'USD': true}}
                    </div>
                    <div class="col-md-7 col-sm-7">
                        {{item.price | currency: 'USD': true}}
                    </div>
                </div>
                <div class="line-item row">
                    <div class="desc divider col-md-12 col-sm-12"></div>
                    <div class="amount pull-left"></div>
                </div>
                <div class="sub-total line-item row">
                    <div class="col-md-3 col-sm-3"></div>
                    <div class="col-md-2 col-sm-2">Sub Total</div>
                    <div class="col-md-7 col-sm-7">
                        {{cartDetails?.totalPrice | currency: 'USD': true}}
                    </div>
                    <!--Get total sum of order-->
                </div>
                <div class="delivery line-item row">
                    <div class="col-md-3 col-sm-3"></div>
                    <div class="col-md-2 col-sm-2">Delivery Fee</div>
                    <div class="col-md-7 col-sm-7">{{ deliveryFee | currency:'USD': true }}</div>
                    <!--Calculate as per distance-->
                </div>
                <div class="tax line-item row">
                    <div class="col-md-3 col-sm-3"></div>
                    <div class="col-md-2 col-sm-2">GST ({{globals.getGSTAmount()}}%)</div>
                    <div class="col-md-7 col-sm-7">
                        {{ globals.getGSTCalculation(cartDetails) | currency:'USD': true }}
                    </div>
                    <!--5% of total sum-->
                </div>
                <div class="totalAmount line-item row">
                    <div class="col-md-3 col-sm-3"></div>
                    <div class="col-md-2 col-sm-2">Total</div>
                    <div class="col-md-7 col-sm-7">
                        {{ globals.getTotalAmount(cartDetails, deliveryFee) | currency:'USD': true }}
                    </div>
                    <!--Get total sum of order including Delivery Fee, GST-->
                </div>
                <div class="discount line-item row" *ngIf="discount_Percent > 0">
                    <div class="col-md-3 col-sm-3"></div>
                    <div class="col-md-2 col-sm-2">Discount ({{discount_Percent}}%)</div>
                    <div class="col-md-7 col-sm-7">
                        {{ globals.getDiscountedAmount(globals.getTotalAmount(cartDetails, deliveryFee)) | currency:'USD': true }}
                    </div>
                    <!--discounted amount-->
                </div>
                <div class="total line-item row" *ngIf="discount_Percent > 0">
                    <div class="col-md-3 col-sm-3"></div>
                    <div class="col-md-2 col-sm-2">Net Payable</div>
                    <div class="col-md-7 col-sm-7">
                        {{ globals.getNetPayable(globals.getTotalAmount(cartDetails, deliveryFee)) | currency:'USD': true }}
                    </div>
                    <!--Net payable amount-->
                </div>
                <div class="total line-item row">
                    <div class="cart-button button-group pull-right">
                        <button type="button" class="btn btn-cart" title="Change Order" [routerLink]="['/menu']">
                            Change Order
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <form class="form-horizontal" role="form" #checkoutForm="ngForm" method="POST" (ngSubmit)="checkOut(address)" novalidate>
        <!--  Billing Address  Starts -->
        <div class="col-sm-6 col-md-6">
            <div class="panel panel-smart">
                <div class="panel-heading">
                    <h3 class="panel-title">Billing Address</h3>
                </div>
                <div class="panel-body">
                    <!-- Billing address body start -->
                    <div class="form-group" *ngIf="deliveryAddress.OrderType == order_Type">
                        <div class="col-sm-12">
                            <div class="btn-group btn-group-vertical" data-toggle="buttons">
                                <label class="btn active">
                                    <input type="checkbox" name='sameAsDelivery' [(ngModel)]="address.SameAsDelivery" (change)="populateDeliveryAddress()">
                                    <i class="fa fa-square-o fa-2x"></i><i class="fa fa-check-square-o fa-2x"></i> 
                                    <span> Same as Delivery Address ?</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="col-sm-4 control-label"><span>* </span> Name: </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="name" id="name" placeholder="Name" [(ngModel)]="address.Name" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="phone" class="col-sm-4 control-label">
                            <span>* </span> Phone:
                        </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="phone" id="phone" placeholder="Phone" [(ngModel)]="address.Phone" required>
                        </div>
                    </div>
                    <span *ngIf="payment_mode != 2">
                        <div class="form-group">
                            <label for="street" class="col-sm-4 control-label"><span>* </span> Street
                    Address:
                    </label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="street" id="street" placeholder="Street Address" [(ngModel)]="address.Street"
                            required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="appartment" class="col-sm-4 control-label">Suite/Apt #</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="appartment" id="appartment" placeholder="Suite/Appartment" [(ngModel)]="address.Appartment">
                    </div>
                </div>
                <div class="form-group">
                    <label for="city" class="col-sm-4 control-label"><span>* </span> City:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="city" id="city" placeholder="City" [(ngModel)]="address.City" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="message" class="col-sm-4 control-label"><span>* </span> State:</label>
                    <div class="col-sm-8">
                        <select name="state" id="state" class="form-control" [(ngModel)]="address.StateId" required>
                            <option *ngFor="let state of states" value="">Select</option>
                            <option *ngFor="let state of states" value={{state.StateID}}>{{state.StateName}}-{{state.StateCode}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="message" class="col-sm-4 control-label">
                        <span>* </span> Zip Code:
                    </label>
                    <div class="col-sm-4">
                        <input type="text" name="zip" id="zip" class="form-control" placeholder="Zip Code" [(ngModel)]="address.Zip" required>
                    </div>
                    <div class="col-sm-4">
                    </div>
                </div>
                </span>
                <!-- Billing address body end -->
            </div>
        </div>
</div>
<!-- Billing Address Ends -->

<!-- Payment Options Form Starts -->
<div class="col-sm-6 col-md-6">
    <div class="panel panel-smart">
        <div class="panel-heading">
            <h3 class="panel-title">Payment Options</h3>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                    <div class="btn-group btn-group-horizontal" data-toggle="buttons">
                        <label class="btn ">
                            <input type="radio" name='radOrderType' [(ngModel)]="payment_mode" value="{{paymentModes.PayNow}}">
                            <i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i>
                            <span>Pay Now</span>
                        </label>
                        <label class="btn" *ngIf="order_Type == 1">
                            <input type="radio" [(ngModel)]="payment_mode" name="radOrderType" value="{{paymentModes.CashOnDelivery}}" >
                            <i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i>
                            <span>Cash on Delivery</span>
                        </label>
                        <label class="btn" *ngIf="order_Type == 2">
                            <input type="radio" [(ngModel)]="payment_mode" name="radOrderType" value="{{paymentModes.PayInStore}}" >
                            <i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i>
                            <span>Pay in Store</span>
                        </label>
                    </div>
                </div>
            </div>
            <!-- Payment Integration -->
            <div class="form-group" *ngIf="payment_mode != paymentModes.PayInStore; else noPaymentTemplate">
                <div class="col-sm-11">
                    <textarea name="message" id="message" class="form-control" rows="5" placeholder="Special instructions for driver" [(ngModel)]="address.Message"
                        required></textarea>
                </div>
                <div class="col-sm-1"></div>
            </div>
            <ng-template #noPaymentTemplate>
                <hr />
                <div class="text-uppercase clearfix">
                    <a class="btn btn-default pull-right" (click)="placeOrder()">
                        Place Order
                    </a>
                </div>
            </ng-template>
        </div>
    </div>
</div>
</form>
<!-- Payment Options Form Ends -->
</div>