<!-- <div *ngFor="let itemType of itemTypes" > -->
<div *ngFor="let itemType of itemTypes" class="col-md-12 col-sm-12" id="{{itemType.ItemTypeName}}">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <h4>{{itemType.ItemTypeName}}</h4>
        </div>
    </div>
    <div *ngFor="let items of menuItems | searchfilter: 'ItemTypeId' : itemType.ItemTypeId" class="col-md-4 col-sm-6">
        <div class="product-col">
            <div class="caption">
                <h4><a href="product.html">{{items[0].ItemTitle}}</a></h4>
                <div class="description" title="items[0].Description">
                    {{items[0].ItemDescription.length > 30 ? items[0].ItemDescription.substr(0,30) + '...': items[0].ItemDescription}}
                </div>
                <div class="price" *ngFor="let item of items">
                    <div class="desc pull-left">
                        {{item.Size}}{{item.MetricType == "Inches" ? "\"" : ""}} {{item.Description}}
                    </div>
                    <div class="amount pull-left">{{item.ItemPrice | currency:'USD':true}}</div>
                    <button class="pull-right btn btn-add" (click)="item.NumberOfToppings ? openToppings(item.NumberOfToppings) : addToCart(item)"><i class="fa fa-plus"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- </div> -->