<section class="products-list">
    <!-- Heading Starts -->
    <h2 class="product-head">Our Menu</h2>
</section>
<div id="main-container">
    <div class="row">
        <div class="col-md-9">
            <div class="row">
                <menu-items #menuItems (cartChanged)="onCartChange($event)"></menu-items>
            </div>
        </div>
        <div class="col-md-3">
            <order-summary [cartDetails]="cartItem"></order-summary>
            <delivery-address></delivery-address>
            <!-- Categories Links Starts -->
            <h3 class="side-heading">Categories</h3>
            <div class="list-group">
                <a (click)="triggerScrollTo($event, item.ItemTypeName)" class="list-group-item mouse-hover" *ngFor="let item of itemTypes">
                    <i class="fa fa-chevron-right"></i>{{item.ItemTypeName}}
                </a>
            </div>
            <h3 class="side-heading">Brochure</h3>
            <div class="list-group">
                <a href="app/menu/brochure/brochure.pdf" target="_blank" class="list-group-item"><i class="brochure fa fa-file-pdf-o fa-2x"></i>Click to Download</a>
            </div>
        </div>

    </div>
</div>